altgraph
auto-py-to-exe
bottle
bottle-websocket
certifi
cffi
charset-normalizer
click
clr_loader
colorama
Eel
et_xmlfile
future
gevent
gevent-websocket
greenlet
idna
IronXL
markdown-it-py
mdurl
numpy
openpyxl
packaging
pandas
pefile
pycparser
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyperclip
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
pythonnet
pytz
pywin32
pywin32-ctypes
requests
rich
setuptools
shellingham
shiboken6
six
tinydb
typer
typing_extensions
tzdata
urllib3
xlrd
zope.event
zope.interface
